<template>
    <div>
        <form @submit.prevent="AddReaction">
            <input
                class="form-control form-control-lg"
                type="text"
                placeholder="schrijf je opmerking"
                aria-label=".form-control-lg example"
                name="message"
                v-model="reaction.message"
            />
            <button type="submit" class="btn btn-light btn-block">DEEL!</button>
        </form>
        <ul>
            <li
                class="list-group-item"
                v-for="reaction in reactions"
                v-bind:key="reaction.id"
            >
                <div class="grid grid-cols-2 ">
                    <div class="grid grid-cols-4 m-4 ">
                        <div></div>
                        <div></div>
                        <div class="text-lg  tracking-wider">
                            {{ reaction.user.name }}: {{ reaction.message }}
                        </div>
                    </div>
                    <div class="grid grid-cols-4 flex justify-end ">
                        <div></div>
                        <div></div>
                        <div v-if="auth_user.id === reaction.user_id"
                             class="bg-gray-300 text-white rounded m-4 p-2"
                             @click="editReaction(reaction)"> bewerk
                        </div>
                        <div  v-if="auth_user.id === reaction.user_id"
                              class="bg-red-400 text-white rounded m-4 p-2"
                              @click="deleteReaction(reaction.id)"> verwijder
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: ["auth_user", "assignment"],
    data() {
        return {
            reactions: [],
            reaction: {
                message: "",
                user_id: this.auth_user.id,
                assignment_id: this.assignment.id
            },
            reaction_id: "", // for the update
            edit: false
        };
    },

    created() {
        this.fetchReactions();
    },

    methods: {
        fetchReactions() {
            var uri = location.pathname;
            fetch(uri + "/reactions")
                .then(res => res.json())
                .then(res => {
                    // console.log(res)
                    this.reactions = res;
                });
        },
        AddReaction() {
            if (this.edit === false) {
                var uri = location.pathname;
                // Add
                fetch(uri + "/reactions/store", {
                    method: "post",
                    body: JSON.stringify(this.reaction),
                    headers: {
                        "content-type": "application/json",
                        "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr(
                            "content"
                        )
                    }
                })
                    .then(data => {
                        this.reaction.message = "";
                        this.fetchReactions();
                    })
                    .catch(err => console.log(err));
            } else {
                fetch(uri + "/reactions/store", {
                    method: "put",
                    body: JSON.stringify(this.reaction),
                    headers: {
                        "content-type": "application/json",
                        "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr(
                            "content"
                        )
                    }
                })
                    .then(data => {
                        this.reaction.message = "";
                        this.reaction.reaction_id = "";
                        this.fetchReactions();
                        this.edit = false;
                    })
                    .catch(err => console.log(err));
            }
        },
        editReaction(reaction) {
            this.edit = true;
            this.reaction.id = reaction.id;
            this.reaction.reaction_id = reaction.id;
            this.reaction.message = reaction.message;
        },
        deleteReaction(id) {
            var uri = location.pathname;
            if (confirm("Are You Sure?")) {
                fetch(uri + `/reactions/${id}/delete`, {
                    method: "DELETE",
                    headers: {
                        "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr(
                            "content"
                        )
                    }
                })
                    .then(data => {
                        this.fetchReactions();
                    })
                    .catch(err => console.log(err));
            }
        }
    }
};
</script>
